#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#screen{
  display: block;
  background-color: #020a13;
  /*background: url(https://i.imgur.com/wUNsNFR.gif) no-repeat center center/cover fixed; */
}